html, body {
  font-family: Arial;
  margin: 0;
}

* {
    box-sizing: border-box;
}

.header {
  font-size: 22px;
  padding: 30px;
  text-align: center;
  background: rgb(42, 66, 107);
  color: white;
}

.navbar {
  display: flex;
  background-color: #333;
}

.navbar a {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
  margin: 4px 4px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.row {  
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.row2 {  
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.sideR {
  flex: 35%;
  background-color: #f1f1f1;
  padding: 20px;
}

.sideL {
  flex: 2%;
  background-color: #f1f1f1;
  padding: 0px;
}

.main {
  margin: auto;
  flex: 60%;
  width: 1000px;
  background-color: white;
  padding: 20px;
}

.simBox {
  border-radius: 5px;
  margin: auto;
  text-align: left;
  width: 535px;
  padding: 15px;
  padding-bottom: 20px;
  padding-top: 0px;
}

.quote {
  margin: auto;
  background-color: rgb(179, 190, 212);
  padding: 1px 15px 1px 15px;
}

.figure {
  width: 33%;
  background: rgb(255, 255, 255);
}

.figure2 {
  width: 50%;
  background: rgb(255, 255, 255);
}

.spacer1 {
  padding: 20px;
  background: #f1f1f1;
}

.spacer2 {
  padding: 30px;
  background: #333;
}

.footer {
  font-size: 22px;
  padding: 30px;
  padding-left: 30px;
  background: rgb(42, 66, 107);
  color: rgb(255, 255, 255);
}


button {
  top: 10px;
  left: 10px;
  z-index: 1;
}


@media screen and (max-width: 1540px) {
  .row, .navbar {   
    flex-direction: column-reverse;
  }
}

div.model {
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  background: rgb(255, 255, 255);
  padding-left: 20px;
  padding-bottom: 20px; 
  width: 100%; 
}

div.data {
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  padding-left: 20px;
  padding-bottom: 20px; 
  width: 100%;
  height: 100%; 
}

div.dataframe {
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  background: rgb(255, 255, 255);
  padding: 0px;
  padding-top: 0px;
  width: 25%;
  height: 370px;  
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 7px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.center {
  margin: auto;
}

.slider {
   		width: 500px;
   		height: 25px;
   		background: #d3d3d3;
   		-webkit-transition: .2s;
}